<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Items</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light px-10">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-black" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item text-black active">
                <a class="nav-link" href="/items">Items</a>
            </li>
            <li class="nav-item text-black">
                <a class="nav-link" href="/info">Info</a>
            </li>
            <li class="nav-item text-black">
                <a class="nav-link" href="/tags">Tags</a>
            </li>
            <li class="nav-item text-black">
                <a class="nav-link" href="/orders">Orders</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <span sec:authentication="name"></span>
            <form th:action="@{/logout}" method="POST"> <input type="submit" class="btn btn-primary ml-2" value="Logout"> </form>
        </div>
    </div>
</nav>
<div class="container pt-4 mt-4 text-center">
    <h2 class="text-black text-center" style="border-bottom: 2px solid black; padding-bottom: 10px; ">New item</h2>
    <form class="pt-5" th:object="${items}" th:action="@{/itemsave/}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Item name:</label>
                            <input type="text" class="form-control" th:field="*{name}"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Code:</label>
                            <input type="text" class="form-control" th:field="*{code}"/>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Price:</label>
                            <input type="number" class="form-control" th:field="*{price}"/>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Status:</label>
                            <input type="text" class="form-control" th:field="*{status}"/>
                        </div>
                        <div class="col-md-4 text-center">
                            <label th:for="users">Users</label>
                            <select id ="users" th:field="*{user}" class="form-select w-100 h-50 border rounded border-1 bg-white" aria-label="Default select example">
                                <option selected value="null">Select a user</option>
                                <option th:each="user: ${usersAll}"  th:value="${user.id}" th:text="${user.username}" ></option>
                            </select>
                        </div>
                    </div>

                    <div class = "row">
                        <div class="col-md-12 pb-4 text-center">
                            <label th:for="tags">Tags</label>
                            <ul id ="tags"  style="list-style: none;">
                                <li th:each="tag: ${tagsAll}" >
                                    <input type="checkbox"
                                           th:field="*{tags}"
                                           th:value="${tag.id}" />
                                    <label
                                            th:for="${#ids.prev('tags')}"
                                            th:text="${tag.name}">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-6 mx-auto">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </form>
</div>
</body>
</html>